:root {
    --color-primary: #ffffff;
    /* --color-primary-thin-light: #171717;
    --color-primary-medium-light: #2c2c2c;
    --color-primary-heavy-light: #3f3f3f; */

    --color-secondary: #377dcf;
    --color-secondary-thin-light: #56a9ff;
    /* --color-secondary-medium-dark: #00c69a;
    --color-secondary-heavy-light: #f3fafa; */

    --color-white: white;
    --color-black: #000000;
    --color-orange: #FFB003;

    --menu-active-color: #56a9ff;
    --menu-active-text-color: white;

    /* Info: Top OMNE Bar :done  */
    --top-omnebar-background-color: #2a3643;
    --top-omnebar-height: 60px;

    /* Info: Top Main Navigation :done  */
    --main-navigation-background-color: var(--color-secondary);
    --main-navigation-height: 50px;

    /* Info: Side Navigation :done  */
    --side-navigation-width: 60px;
    --side-navigation-background-color: var(--color-primary);

    /* Info: Text/Font :done */
    --fontfam-poppins: "Poppins", sans-serif;
    --text-color-primary: #4a4a4a;
    --text-color-secondary: #9b9b9b;
    --text-color-secondary-thin-light: #56a9ff;
    --text-color--secondary-color-medium-dark: var(--color-secondary-medium-dark);
    --text-color-action: #CE4800;
    --text-color-green: #3a886a;
    --text-color-green2: #00F9C1;
    --text-color-green3: #048769;
    --text-color-green4: #055160;
    --text-color-green5: #CFF4FC;
    --text-color-yellow: #FFC400;
    --atag-text-color: var(--text-color-green3);
    --atag-hover-text-color: var(--text-color-green4);
    /* --text-color--secondary-color-medium-dark: var(--color-secondary-medium-dark); */

    --text-title-color-primary: var(--color-secondary-thin-light);
    /* --text-title-color-secondary-medium-dark: var(--text-color--secondary-color-medium-dark); */
    --text-title-size: 16px;

    /* Info: Button colors :done */
    --button-primary-border-color: var(--color-secondary-thin-light);
    --button-primary-background-color: var(--color-secondary-thin-light);
    --button-primary-border-hover-color: var(--color-secondary-thin-light);
    --button-primary-background-hover-color: var(--color-secondary-thin-light);
    --button-outline-background-hover-color: #f6f6f6;
    --button-primary-text-color: #ffffff;
    --button-outline-text-color: #56a9ff;
    --button-text-size: 14px;
    --button-height: 35px;

    /* Info: Tabs vars  */
    --tab-border-color: #ffffff;
    --tab-border-radius: 4px;
    --tab-active-border-color: var(--color-secondary-thin-light);
    --tab-hover-border-color: #ffffff;
    --tab-background-color: #ffffff;
    --tab-active-background-color: #ffffff;
    --tab-hover-background-color: #ffffff;

    /* Info: Paginator colors */
    --paginator-text-color: #000000;
    --paginator-active-text-color: #ffffff;
    --paginator-background-color: #ffffff;
    --paginator-active-background-color: #000000;
    --paginator-border-color: #ebebeb;

    /* Info: form-group input colors */
    --input-border-color: #e7e7e7;
    --input-focus-border-color: var(--color-secondary);
    --input-border-hover-color: #e7e7e7;
    --input-border-radius: 4px;
    --input-label-color: #9b9b9b;
    --input-label-text-size: 12px;
    --input-label-inspan-text-size: 10px;
    --input-text-color: #4a4a4a;
    --input-font-size: 14px;
    --input-focus-text-color: #495057;
    --input-dropdown-caret-color: #999999;
    --input-dropdown-options-background-color: white;
    --input-dropdown-options-hover-background-color: var(--color-secondary-heavy-light);
    --input-dropdown-options-selected-background-color: var(--color-secondary-heavy-light);
    --input-dropdown-options-text-color: rgba(0, 0, 0, 0.87);
    --input-dropdown-options-selected-text-color: var(--input-dropdown-options-text-color);
    --input-dropdown-options-hover-text-color: var(--input-dropdown-options-text-color);
    --input-icon-color: #495057;
    --input-icon-background-color: #e9ecef;
    --input-background-color: white;
    --input-placeholder-color: #6c757d;
    --input-disabled-background-color: #e9ecef;
    --input-checkbox-border-color: var(--text-color-primary);
    --input-checkbox-checked-background-color: var(--text-color-primary);

    /* Info: icon colors */
    --ic-color-primary: var(--color-primary);
    --ic-color-secondary: var(--color-secondary);
    --ic-color-secondary-medium-dark: var(--color-secondary-medium-dark);
    --ic-color-white: var(--color-white);



    /* Info: accordion colors */
    --accordion-panel-heading-background-color: var(--color-primary);

    /* Info: Error/invalid msg colors */
    --error-message-color: #dc3545;
    --error-border-color: #dc3545;
    --error-font-size: 12px;

    --border-color: #cacaca;
    --border-radius: 4px;
    --border-color-secondary-thin-light: #56a9ff;

    --table-head-border-color: #56a9ff;
    --table-head-background-color: #f2f5fa;
    --table-head-text-color: #56a9ff;
    --table-head-text-size: 12px;
    --table-td-border-color: #dee2e6;
    --table-td-text-color: #4A4A4A;
    --table-td-span-text-color: #9b9b9b;

    --adv-search-filterpopup-head-text-size: 14px;


    --accordion-collapsed-header-background-color: #e7e7e7;
    --accordion-collapsed-header-text-color: #4a4a4a;
    --accordion-header-background-color: #56a9ff;
    --accordion-header-hover-background-color: #56a9ff;
    --accordion-header-border-radius: 4px;
    --accordion-header-text-color: white;
    --accordion-header-hover-text-color: white;
    --accordion-header-text-size: 14px;
    --accordion-v2-header-background-color: #2069c1;


    --modal-title-text-size: 16px;

    /* Info: Draggable item vars */
    --draggable-item-border-color: #e7e7e7;
    --draggable-item-text-color: #4a4a4a;
    --draggable-item-anchor-text-color: #56a9ff;
    --draggable-item-text-size: 12px;
    --draggable-item-background-color: white;
    --draggable-item-border-radius: 2px;

    /* --color-secondary-thin-light: #17C7B4;
    --color-secondary-medium-light: #2CCCBB;
    --color-secondary-heavy-light: #3FD1C1;
    --color-secondary-thin-dark: #00AF9D;
    --color-secondary-medium-dark: #009F8F;
    --color-secondary-heavy-dark: #009182;
    --color-green: #16C100;
    --color-red: #E44700; */
}