<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Esign-Vendor: ResourcesList</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" href="./css/main.css" /> -->
  <link rel="stylesheet" href="./css/fontawesome6/css/all.css" />
  <link rel="stylesheet" href="./css/customStyles-new.css" />
  <link rel="stylesheet" href="./css/custom-table-heading.css" />
  <link rel="stylesheet" href="./css/form-control-old.css" />
  <link rel="stylesheet" href="./css/form-group.css" />
  <link rel="stylesheet" href="./css/obtn.css" />
  <link rel="stylesheet" href="./css/omne-card-only.css" />
  <link rel="stylesheet" href="./css/sod-table.css" />
  <link rel="stylesheet" href="./css/summary-and-full-details-card.css" />
  <link rel="stylesheet" href="./css/tabs-group.css" />
  <link rel="stylesheet" href="./css/xre-table.css" />
  <link rel="stylesheet" href="./css/accordion-one.css" />
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background: white;
    }

    article {
      margin: 0 auto;
      max-width: 90%;
      margin-bottom: 16px;
      border: solid 1px rgb(215, 214, 214);
      clear: both;
    }

    article:odd {
      background: lightcyan;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: rgba(0, 0, 0, 0.05)
    }
  </style>
</head>

<body>
  <main>
    <br><br>
    <article class="block">
      <div class="maingrid">
        <div class="pc-det">Project ID</div>
        <div class="pc-det">Project ID</div>
        <div class="pc-det">Project ID</div>
        <div class="pc-det">Project ID</div>
        <div class="pc-det">Project ID</div>
      </div>
      <style>
        .maingrid {
          display: grid;
        }
      </style>
    </article>
    <article class="block">
      <div class="accordion" id="accordionParent">
        <div class="accordion-group">
          <div class="accordion-heading">
            <h3 class="pd-0 mg-0">
              Accordion Header goes here
              <a data-toggle="collapse" data-parent="#accordionParent" href="#collapseOneDefault" aria-expanded="true"
                aria-controls="collapseOne" class="float-right">
                <i class="fa-solid fa-angle-down"></i>
              </a>
            </h3>
            <div class="clearfix clear-fix"></div>
          </div>
          <div id="collapseOneDefault" class="accordion-body collapse">
            <h1 class="mg-0 pd-0">Content goes here</h1>
          </div>
        </div>
        <br>
        <div class="accordion-group accordion-general accordion-small">
          <div class="accordion-heading">
            <!-- <h5 class="pd-0 mg-0">
              Accordion Header goes here
              <a data-toggle="collapse" data-parent="#accordionParent" href="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne" class="float-right">
                <i class="fa-solid fa-angle-down"></i>
              </a>
            </h5> -->
            
            <a data-toggle="collapse" data-parent="#accordionParent" href="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne" class="">
              <h5 class="pd-0 mg-0 d-flex align-items-center justify-content-between">
                Accordion Header goes here
                <i class="fa-solid fa-angle-down"></i>
              </h5>
            </a>
            <div class="clearfix clear-fix"></div>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <h1 class="mg-0 pd-0">Content goes here</h1>
          </div>
        </div>
        <br>
        <div class="accordion-group accordion-general accordion-medium">
          <div class="accordion-heading">
            <!-- <h5 class="pd-0 mg-0">
              Accordion Header goes here
              <a data-toggle="collapse" data-parent="#accordionParent" href="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne" class="float-right">
                <i class="fa-solid fa-angle-down"></i>
              </a>
            </h5> -->
            
            <a data-toggle="collapse" data-parent="#accordionParent" href="#collapsemediumOne" aria-expanded="true"
              aria-controls="collapseOne" class="">
              <h5 class="pd-0 mg-0 d-flex align-items-center justify-content-between">
                Accordion Header goes here
                <i class="fa-solid fa-angle-down"></i>
              </h5>
            </a>
            <div class="clearfix clear-fix"></div>
          </div>
          <div id="collapsemediumOne" class="accordion-body collapse">
            <h1 class="mg-0 pd-0">Content goes here</h1>
          </div>
        </div>
      </div>
    </article>
    <article>
      <!-- <div class="tabsNcontent-group"> -->
      <div class="tabs-group">
        <div class="gen-tab active" data-tab="one">Tab One</div>
        <div class="gen-tab" data-tab="two">Tab Two</div>
      </div>
      <!-- <div class="contents-group"> -->
      <div data-content="one" class="active">
        <h1>Tab One Content</h1>
      </div>
      <div data-content="two" class="">
        <h1>Tab Two Content</h1>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- You can wrap the code above inside a div with class "tab-group" -->
      <!-- You can wrap only tabs/contents inside a seperate div with your own class -->
    </article>
    <article class="pd-4" style="background: #f6f6f6">
      <div class="form_control">
        <label for="ERName" class="text_10">ERE Name</label>
        <input type="text" id="ERName" class="text_12" value="Vijay Parmar">
      </div>
    </article>
    <article class="pd-4" style="background: #f6f6f6">
      <h1 class="h1">form-group</h1>
      <h3 class="h3">Text Input</h3>
      <div class="form-group">
        <label for="email">ERE NAME</label>
        <input type="text" class="form-control" placeholder="Enter email" id="email" value="Vijay Parmar">
      </div>
      <h3 class="h3">Select dropdown</h3>
      <div class="form-group">
        <label for="SelectDocument">Select Document</label>
        <span class="has-icon">
          <select class="form-control required" name="" id="SelectDocument">
            <option value="">Select Document Type</option>
            <option value="">Document 1 type</option>
            <option value="">Document 2 type</option>
          </select>
          <i class="con">
            <img src="./images/icons/ic-bottom-arrow.svg" />
          </i>
        </span>
      </div>
      <h3 class="h3">Search Input with Icon</h3>
      <!-- <div class="form-group input_icon">
        <input type="text" id="ERName" class="text_12 form-control" placeholder="Search by Candidate Name" value="">
        <span>
          <img src="./images/icons/ic-search.svg" alt="ic-search">
        </span>
      </div> -->
      <div class="form-group">
        <label for="SearchInput">Search Input with Icon</label>
        <span class="has-icon">
          <input type="text" id="SearchInput" class="form-control" placeholder="Search by Candidate Name" value="">
          <i class="con">
            <img src="./images/icons/ic-search.svg" />
          </i>
        </span>
      </div>
      <h3 class="h3">Text Input with Error Message</h3>
      <div class="form-group">
        <label for="email">Text Input with Error Message</label>
        <input type="text" class="form-control" placeholder="Enter email" id="email" value="Vijay Parmar">
        <small class="error-msg d-block">Error message here</small>
      </div>
      <h3 class="h3">Form group Radio buttons inline</h3>
      <div class="form-group">
        <label for="" class="">Form group Radio buttons inline</label>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Option 1
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Option 2
          </label>
        </div>
      </div>
      <h3 class="h3">Form group with label and value</h3>
      <div class="form-group">
        <label for="email">ERE NAME</label>
        <p class="form-control-value mg-0 pd-0">Name of ere here</p>
      </div>
      <h3 class="h3">Form group Switch Button Type 1 with Radio buttons</h3>
      <div class="d-flex">
        <div class="form-group switch-button switch-button-lg">
          <label for="" class="">Switch Button 1</label>
          <div class="switch-wrap">
            <div class="form-check-inline">
              <input type="radio" id="opt1lg" class="form-check-input" name="optradiolg" checked>
              <label for="opt1lg" class="form-check-label">On</label>
            </div>
            <div class="form-check-inline">
              <input type="radio" id="opt2lg" class="form-check-input" name="optradiolg">
              <label for="opt2lg" class="form-check-label">Off</label>
            </div>
          </div>
        </div>
        <div class="form-group switch-button switch-button-md mgl-3">
          <label for="" class="">Switch Button 1</label>
          <div class="switch-wrap">
            <div class="form-check-inline">
              <input type="radio" id="opt1md" class="form-check-input" name="optradiomd" checked>
              <label for="opt1md" class="form-check-label">On</label>
            </div>
            <div class="form-check-inline">
              <input type="radio" id="opt2md" class="form-check-input" name="optradiomd">
              <label for="opt2md" class="form-check-label">Off</label>
            </div>
          </div>
        </div>
        <div class="form-group switch-button switch-button-sm mgl-3">
          <label for="" class="">Switch Button 1</label>
          <div class="switch-wrap">
            <div class="form-check-inline">
              <input type="radio" id="opt1sm" class="form-check-input" name="optradiosm" checked>
              <label for="opt1sm" class="form-check-label">On</label>
            </div>
            <div class="form-check-inline">
              <input type="radio" id="opt2sm" class="form-check-input" name="optradiosm">
              <label for="opt2sm" class="form-check-label">Off</label>
            </div>
          </div>
        </div>
      </div>
      <h3 class="h3">Form group Switch Button Type 2 with Radio buttons</h3>
      <div class="form-group switch-button">
        <label for="" class="">Switch Button 2</label>
        <div class="switch_wrap">
          <input type="checkbox" id="switch_two" checked="">
          <span class="switch_no">No</span>
          <span class="switch_yes">Yes</span>
        </div>
      </div>
      <div class="col-12 p-0">
        <div class="form-check p-0">
          <label class="form-check-label text_10 mr-2" for="defaultCheck1">
            Cognixia Training
          </label>
          <div class="switch-field">
            <input type="radio" id="no_6" name="switch-4" value="no">
            <label for="no_6" class="font_400 text_10">No</label>
            <input type="radio" id="yes_6" name="switch-4" value="yes" checked="">
            <label for="yes_6" class="font_400 text_10">Yes</label>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap mgy-5">
        <h3 class="h3">Chips</h3>
        <div class="chips col-lg-12 pd-0">
          <span class="chip">Alabama <img src="./images/icons/ic-close.svg" alt="ic-close"></span>
          <span class="chip">NewYork <img src="./images/icons/ic-close.svg" alt="ic-close"></span>
        </div>
      </div>
    </article>
    <article class="pd-4">
      <button type="button" class="obtn obtn-lg obtn-primary"> SUBMIT </button>
      <button type="button" class="obtn obtn-reg obtn-primary"> SUBMIT </button>
      <button type="button" class="obtn obtn-sm obtn-primary"> SUBMIT </button>
      <!-- Info: obtn-reset/obtn-outline -->
      <button type="button" class="obtn obtn-reg obtn-reset"> CANCEL </button>
      <!-- Info: obtn-reset-red/obtn-outline-red -->
      <button type="button" class="obtn obtn-reg obtn-outline-red"> CANCEL </button>
    </article>
    <h3 class="h3">add class "two-cols" for two columns. "three-cols" for three columns</h3>
    <article>
      <div class="keyValuePair-mainDiv four-cols d-flex flex-row flex-wrap">
        <div class="sod_table keyValTable mgb-4 mgb-lg-0">
          <div class="keyValRow">
            <div class="keyVal_key">
              <!-- <span><img src="../../assets/images/icons/ic-employee-code.svg" alt="job-title"></span> -->
              Employee ID
            </div>
            <div class="keyVal_val">
              15345
            </div>
          </div>
          <div class="keyValRow">
            <div class="keyVal_key">
              <!-- <span><img src="../../assets/images/icons/ic-employee-code.svg" alt="job-title"></span> -->
              Employee ID
            </div>
            <div class="keyVal_val">
              15345
            </div>
          </div>
        </div>
        <div class="sod_table keyValTable mgb-4 mgb-lg-0">
          <div class="keyValRow">
            <div class="keyVal_key">
              <!-- <span><img src="../../assets/images/icons/ic-employee-code.svg" alt="job-title"></span> -->
              Employee ID
            </div>
            <div class="keyVal_val">
              15345
            </div>
          </div>
          <div class="keyValRow">
            <div class="keyVal_key">
              <!-- <span><img src="../../assets/images/icons/ic-employee-code.svg" alt="job-title"></span> -->
              Employee ID
            </div>
            <div class="keyVal_val">
              15345
            </div>
          </div>
        </div>
        <div class="sod_table keyValTable mgb-4 mgb-lg-0">
          <div class="keyValRow">
            <div class="keyVal_key">
              <!-- <span><img src="../../assets/images/icons/ic-employee-code.svg" alt="job-title"></span> -->
              Employee ID
            </div>
            <div class="keyVal_val">
              15345
            </div>
          </div>
          <div class="keyValRow">
            <div class="keyVal_key">
              <!-- <span><img src="../../assets/images/icons/ic-employee-code.svg" alt="job-title"></span> -->
              Employee ID
            </div>
            <div class="keyVal_val">
              15345
            </div>
          </div>
        </div>
        <div class="sod_table keyValTable mgb-4 mgb-lg-0">
          <div class="keyValRow">
            <div class="keyVal_key">
              <!-- <span><img src="../../assets/images/icons/ic-employee-code.svg" alt="job-title"></span> -->
              Employee ID
            </div>
            <div class="keyVal_val">
              15345
            </div>
          </div>
          <div class="keyValRow">
            <div class="keyVal_key">
              <!-- <span><img src="../../assets/images/icons/ic-employee-code.svg" alt="job-title"></span> -->
              Employee ID
            </div>
            <div class="keyVal_val">
              15345
            </div>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="omne-card pdx-4 pdy-2">
        <h1>omne card content goes here</h1>
      </div>
    </article>
    <article class="border-0">
      <div class="omne-card summary-details">
        <div class="coll-lg-12 bb-1 pd-0 summary-details-head">
          <h4 class="mg-0 pdy-2">summary-details Card <small>(VC001245)</small>
            <span class="panel-title float-right"><a data-toggle="collapse" href="#collapseConsultantDetails"
                aria-expanded="true" aria-controls="collapseConsultantDetails" class="pd-0 d-inline-block pdt-1"><img
                  class="ic-angle-down" width="14" height="14" src="./images/icons/ic-angle-down-cropped.svg"
                  alt="ic-pin"></a></span>
          </h4>
        </div>
        <div id="collapseConsultantDetails" role="tabpanel" aria-labelledby="collapseConsultantDetails"
          class="panel-collapse ng-star-inserted collapse in" aria-expanded="true" style="">
          <div class="summary-details-body pdy-3 pdx-4">
            <div class="keyValuePair-mainDiv d-flex flex-row flex-lg-nowrap flex-wrap">
              <div class="sod_table keyValTable mgb-4 mgb-lg-0">
                <div class="keyValRow">
                  <div class="keyVal_key">
                    <span><img src="./images/icons/ic-employee-code.svg" alt="job-title"></span>
                    Contact Person
                  </div>
                  <div class="keyVal_val">
                    Pradeep Joshi
                  </div>
                </div>
                <div class="keyValRow">
                  <div class="keyVal_key">
                    <span><img src="./images/icons/ic-group.svg" alt="ic-estimated-start"></span>
                    Active Consultants
                  </div>
                  <div class="keyVal_val">
                    80
                  </div>
                </div>
              </div>
              <div class="sod_table keyValTable mgb-4 mgb-lg-0">
                <div class="keyValRow">
                  <div class="keyVal_key">
                    <span><img src="./images/icons/ic-email-id.svg" alt="ic-project-location"></span>
                    Email ID
                  </div>
                  <div class="keyVal_val">
                    artech.info@domain.com
                  </div>
                </div>
                <div class="keyValRow">
                  <div class="keyVal_key">
                    <span><img src="./images/icons/ic-group.svg" alt="ic-flag"></span>
                    Inactive Consultants
                  </div>
                  <div class="keyVal_val">
                    10
                  </div>
                </div>
              </div>
              <div class="sod_table keyValTable mgb-4 mgb-lg-0">
                <div class="keyValRow">
                  <div class="keyVal_key">
                    <span><img src="./images/icons/ic-contact-details.svg" alt="ic-billing-company"></span>
                    Contact Details
                  </div>
                  <div class="keyVal_val">
                    000 000 00000
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="omne-card full-details">
        <div class="full-details-header bb-1 coll-lg-12 d-flex flex-wrap justify-content-between pdy-3 pdx-4">
          <h4 class="pd-0 mg-0">full-details Card</h4>
        </div>
        <div class="full-details-body coll-lg-12 pd-4">
          <h1>Full details content goes here</h1>
        </div>
        <div class="clearfix clear-fix"></div>
      </div>
      <style>
      </style>
    </article>
    <!-- info: full-details with standard table -->
    <article>
      <div class="omne-card full-details">
        <div class="full-details-header bb-1 coll-lg-12 d-flex flex-wrap justify-content-between pdy-2 pdx-0">
          <div class="coll-lg-3 d-flex align-items-center">
            <h4 class="pd-0 mg-0">full-details Card - search, dropdown</h4>
          </div>
          <div class="coll-lg-9 d-flex flex-wrap justify-content-start">
            <div class="coll-lg-6 pd-0 mgr-lg-5">
              <div class="form-group mg-0">
                <span class="has-icon">
                  <input type="text" id="ERName" class="text_12 form-control" placeholder="Search by Candidate Name"
                    value="">
                  <i class="con">
                    <img src="./images/icons/ic-search.svg" alt="ic-search">
                  </i>
                </span>
              </div>
            </div>
            <div class="coll-lg-4 pd-0">
              <div class="form-group dropdown mg-0">
                <span class="has-icon">
                  <select class="form-control required" name="" id="">
                    <option value="" selected="" style="color: red;">Select Document Type</option>
                    <option value="">Reject</option>
                  </select>
                  <i class="con">
                    <img src="./images/icons/ic-bottom-arrow.svg">
                  </i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="full-details-body coll-lg-12 pd-4">
          <h4 class="mg-0 pd-0 pdb-3">Standard Table Heading</h4>
          <div class="table_wrap xre_table standard-table pd-0 table-respo">
            <table class="">
              <thead>
                <tr>
                  <th class="colw-12">Contributon</th>
                  <th class="colw-12">Stage</th>
                  <th class="colw-11">Sub Stage</th>
                  <th class="colw-12">Client/ Consultant</th>
                  <th class="colw-6">Payment Applicable</th>
                  <th class="colw-8">Status</th>
                  <th class="colw-4">Units</th>
                  <th class="colw-8">Amount</th>
                  <th class="colw-10">Frequency</th>
                  <th class="colw-7">Cares ID</th>
                  <th class="colw-5">Resume</th>
                  <th class="colw-5">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="colw-12" title="Contributon">Candidate Referals</td>
                  <td class="colw-12" title="Stage">Entry level positions</td>
                  <td class="colw-11" title="Sub Stage">Resume submitted</td>
                  <td class="colw-12" title="Client/ Consultant">Kenjlaal Patel</td>
                  <td class="colw-6" title="Payment Applicable"> No</td>
                  <td class="colw-8" title="Status"> N/A</td>
                  <td class="colw-4" title="Units"> 0</td>
                  <td class="colw-8" title="Amount"> 0</td>
                  <td class="colw-10" title="Frequency">One time payout</td>
                  <td class="colw-7" title="Cares ID">785054</td>
                  <td class="colw-5" title="Resume"><span><img width="12" height="12"
                        src="../../assets/images/icons/ic-file-solid.svg" alt="ic-billing-company"></span></td>
                  <td class="colw-5" title="Action">Action</td>
                </tr>
                <tr>
                  <td class="colw-12" title="Contributon">Business Leads Client intel</td>
                  <td class="colw-12" title="Stage">Submission of leads to sales</td>
                  <td class="colw-11" title="Sub Stage">Resume submitted</td>
                  <td class="colw-12" title="Client/ Consultant">Wells fargo</td>
                  <td class="colw-6" title="Payment Applicable"> No</td>
                  <td class="colw-8" title="Status"> N/A</td>
                  <td class="colw-4" title="Units"> 0</td>
                  <td class="colw-8" title="Amount"> 0</td>
                  <td class="colw-10" title="Frequency">One time payout</td>
                  <td class="colw-7" title="Cares ID">785054</td>
                  <td class="colw-5" title="Resume"><span><img width="12" height="12"
                        src="../../assets/images/icons/ic-file-solid.svg" alt="ic-billing-company"></span></td>
                  <td class="colw-5" title="Action">Action</td>
                </tr>
                <tr>
                  <td class="colw-12" title="Contributon">Candidate Referals</td>
                  <td class="colw-12" title="Stage">Entry level positions</td>
                  <td class="colw-11" title="Sub Stage">Resume submitted</td>
                  <td class="colw-12" title="Client/ Consultant">Kenjlaal Patel</td>
                  <td class="colw-6" title="Payment Applicable"> No</td>
                  <td class="colw-8" title="Status"> N/A</td>
                  <td class="colw-4" title="Units"> 0</td>
                  <td class="colw-8" title="Amount"> 0</td>
                  <td class="colw-10" title="Frequency">One time payout</td>
                  <td class="colw-7" title="Cares ID">785054</td>
                  <td class="colw-5" title="Resume"><span><img width="12" height="12"
                        src="../../assets/images/icons/ic-file-solid.svg" alt="ic-billing-company"></span></td>
                  <td class="colw-5" title="Action">Action</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="clearfix clear-fix"></div>
      </div>
    </article>
    <!-- info: full-details with custom table -->
    <article>
      <div class="omne-card full-details">
        <div class="full-details-header bb-1 coll-lg-12 d-flex flex-wrap justify-content-between pdy-2 pdx-0">
          <div class="coll-lg-3 d-flex align-items-center">
            <h4 class="pd-0 mg-0">full-details Card - search, dropdown</h4>
          </div>
          <div class="coll-lg-9 d-flex flex-wrap justify-content-start">
            <div class="coll-lg-6 pd-0 mgr-lg-5">
              <div class="form-group input_icon mg-0">
                <span class="has-icon">
                  <input type="text" id="ERName" class="text_12 form-control" placeholder="Search by Candidate Name"
                    value="">
                  <i class="con">
                    <img src="./images/icons/ic-search.svg" alt="ic-search">
                  </i>
                </span>
              </div>
            </div>
            <div class="coll-lg-4 pd-0">
              <div class="form-group dropdown mg-0">
                <span class="has-icon">
                  <select class="form-control required" name="" id="">
                    <option value="" selected="">Select Document Type</option>
                    <option value="">Reject</option>
                  </select>
                  <i class="con">
                    <img src="./images/icons/ic-bottom-arrow.svg">
                  </i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="full-details-body coll-lg-12 pd-4">
          <h4 class="mg-0 pd-0 pdb-3">Custom Table Heading</h4>
          <div class="table_wrap custom-table pd-0 table-respo">
            <div class="custom_table_head">
              <div class="custom_tr row">
                <div class="custom_th colw-2">&nbsp;</div>
                <div class="custom_th colw-16">Candidate Name</div>
                <div class="custom_th colw-25">Client Name</div>
                <div class="custom_th colw-13">Start Date</div>
                <div class="custom_th colw-19">Received From</div>
                <div class="custom_th colw-13">Received Date</div>
                <div class="custom_th colw-4">&nbsp;</div>
                <div class="custom_th colw-4">&nbsp;</div>
                <div class="custom_th colw-4">&nbsp;</div>
              </div>
            </div>
            <div class="custom_table_body">
              <div class="custom_tr row">
                <div class="custom_td colw-2 pdx-2">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"
                    class="accordion-toggle collapsed plus-toggle">&nbsp;</a>
                </div>
                <div class="custom_td colw-16 pdl-2">Sumanth Raj</div>
                <div class="custom_td colw-25">
                  Accenture
                </div>
                <div class="custom_td colw-13">07/23/2022</div>
                <div class="custom_td colw-19">shivani.sthakur@collabera.com</div>
                <div class="custom_td colw-13">07/23/2022</div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="modal_open" data-modalname="emailWrap"><img src="./images/icons/ic-email-id.svg"
                        alt="ic-mail"></span>
                  </div>
                </div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="info-tooltip" data-modalname="emailWrap">
                      <img class="open_popup" src="./images/icons/ic-group.svg" alt="ic-person">
                    </span>
                  </div>
                </div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="modal_open" data-modalname="emailWrap"><img src="./images/icons/ic-bonus.svg"
                        alt="ic-pin-active.svg"></span>
                  </div>
                </div>
              </div>
              <div class="custom_tr row">
                <div class="custom_td colw-2 pdx-2">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapsetwo"
                    class="collapsed plus-toggle">&nbsp;</a>
                </div>
                <div class="custom_td colw-16 pdl-2">Priti Thakkar</div>
                <div class="custom_td colw-25">
                  IBM
                </div>
                <div class="custom_td colw-13">07/23/2022</div>
                <div class="custom_td colw-19">shivani.sthakur@collabera.com</div>
                <div class="custom_td colw-13">07/23/2022</div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="modal_open" data-modalname="emailWrap"><img src="./images/icons/ic-email-id.svg"
                        alt="ic-mail"></span>
                  </div>
                </div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="info-tooltip"><img class="open_popup" src="./images/icons/ic-group.svg" alt="ic-mail">
                    </span>
                  </div>
                </div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="modal_open" data-modalname="emailWrap"><img src="./images/icons/ic-bonus.svg"
                        alt="ic-mail"></span>
                  </div>
                </div>
              </div>
              <div class="custom_tr row">
                <div class="custom_td colw-2 pdx-2">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapsethr"
                    class="collapsed plus-toggle">&nbsp;</a>
                </div>
                <div class="custom_td colw-16 pdl-2">Prateek Singh</div>
                <div class="custom_td colw-25">
                  Accenture
                </div>
                <div class="custom_td colw-13">07/23/2022</div>
                <div class="custom_td colw-19">shivani.sthakur@collabera.com</div>
                <div class="custom_td colw-13">07/23/2022</div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="modal_open" data-modalname="emailWrap"><img src="./images/icons/ic-email-id.svg"
                        alt="ic-mail"></span>
                  </div>
                </div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="info-tooltip" data-modalname="emailWrap">
                      <img class="open_popup" src="./images/icons/ic-group.svg" alt="ic-mail">
                    </span>
                  </div>
                </div>
                <div class="custom_td colw-4">
                  <div class="table_actions">
                    <span class="modal_open" data-modalname="emailWrap"><img src="./images/icons/ic-bonus.svg"
                        alt="ic-mail"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix clear-fix"></div>
      </div>
    </article>
    <article>
      <div class="full-details-header bb-1 col-lg-12 d-flex flex-wrap justify-content-between pd-0 pdb-2 mgb-3">
        <div class="col-lg-2 pd-0 d-flex align-items-center">
          <!-- <h4 class="pd-0 mg-0">{{componentHeader}}</h4> -->
        </div>
        <div class="col-lg-10 d-flex flex-wrap justify-content-start pd-0">
          <div class="col-lg-8 pd-0 d-flex flex-wrap justify-content-start">
            <div class="col-lg-5 pd-0 pdr-2 pdt-2 text-right">
              <!-- <label class="pd-0 text_14 mg-0">Assign to audit executive</label> -->
            </div>
            <div class="col-lg-7 pd-0">
              <div class="form-group mg-0">
                <span class="has-icon">
                  <!-- <input type="text" matInput [formControl]="txtAuditor" [(ngModel)]="AssignAuditorPerson"
                    [matAutocomplete]="auto" placeholder="Search Auditor name" class="form-control text_12"> -->
                  <i class="con active-pointer">
                    <!-- <button class="primary_btn pdx-3 pdy-1" (click)="AssignedToAuditPerson('Assign')">Assign</button>
                    <button class="secondary_btn bg-white pdx-3 pdy-1" (click)="resetData()" name="resetData"> Reset
                    </button> -->
                  </i>
                </span>
                <!-- <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let item of lstAuditPersons" [value]="Full_Name" (click)="onChangename(item.Value)">
                    {{item.Value}}
                  </mat-option>
                </mat-autocomplete> -->
                <div class="col-lg-12 pd-0">
                  <!-- <span *ngIf="IsInValidAuditor" class="text-danger font-10">
                    Please select auditor.
                  </span> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 pd-0 d-flex align-items-center justify-content-end">
            <div class="rcs_search_assign d-flex align-items-center">
              <div class="xl_icon ml_auto pos-relative">
                <!-- excel export and icons -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
  <!-- main body content -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
  <!-- <script src="./js/script.js"></script> -->
  <script>
    $('.gen-tab').on('click', function () {
      showActiveTabContent($(this));
    });
    function showActiveTabContent(thiss) {
      var tabname = thiss.data('tab');
      $('*[data-content], *[data-tab]').removeClass('active');
      $('*[data-content="' + tabname + '"], *[data-tab="' + tabname + '"]').addClass('active');
    }
  </script>
</body>

</html>