/* key value pair table START */
.sod_table {
    width: 100%;
    padding-left: 0px;
    border-left: 0px solid transparent;
}
.sod_table:first-of-type {
    padding-left: 0 !important;
    border-left: unset !important;
}
.keyValRow {
    display: table;
    width: 100%;
}
.keyValRow>div {
    display: table-cell;
    font-size: 12px;
    padding: 0 0.8rem 1.4rem 0;
}
.keyValRow .keyVal_key {
    color: #4a4a4a;
    font-weight: 500;
    width: 45%;
}
.keyValRow .keyVal_key img {
    padding-right: 0.5rem;
    margin-top: -2.4px;
}
.keyValRow .keyVal_val {
    color: #9b9b9b;
    font-weight: 400;
}
.keyValRow:last-child>div {
    padding-bottom: 0 !important;
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .sod_table {
        width: 50%;
    }
    .sod_table:nth-child(2n+2) {
        padding-left: 10px;
        border-left: 1px solid #e7e7e7;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sod_table {
        padding-left: 10px;
        border-left: 1px solid #e7e7e7;
    }
}
/* key value pair table END */