.main_wrapper h4,
.esign-card h4,
.omne-card h4 {
    color: #56a9ff;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 1.5rem;
    /* border-bottom: 1px solid #e7e7e7; */
}
.bb-1 {
    border-bottom: 1px solid #e7e7e7;
}
.main_wrapper h4 small,
.esign-card h4 small,
.omne-card h4 small {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 500;
}