/* Info: owl nav custom START */
.custom-owl-nav{
    position: relative;
}
.custom-owl-nav .owl-nav{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
.custom-owl-nav .owl-nav span{
    line-height: 42px;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.custom-owl-nav .owl-nav button.owl-prev, 
.custom-owl-nav .owl-nav button.owl-next{
    font-size: 50px;
    width: 50px;
    height: 50px;
    background: #3ab770;
    color: white;
    line-height: 50px;
    outline: none;
}
/* Info: owl nav custom END */