/*Info: Only Margins  */
.mx-auto {
    margin-right: auto;
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.ml-auto {
    margin-left: auto;
}
.m-0 {
    margin: 0 !important;
}
.mt-0, .my-0 {
    margin-top: 0 !important;
}
.mr-0, .mx-0 {
    margin-right: 0 !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.ml-0, .mx-0 {
    margin-left: 0 !important;
}
.m-1 {
    margin: 4px !important;
}
.mt-1, .my-1 {
    margin-top: 4px !important;
}
.mr-1, .mx-1 {
    margin-right: 4px !important;
}
.mb-1, .my-1 {
    margin-bottom: 4px !important;
}
.ml-1, .mx-1 {
    margin-left: 4px !important;
}
.m-2 {
    margin: 8px !important;
}
.mt-2, .my-2 {
    margin-top: 8px !important;
}
.mr-2, .mx-2 {
    margin-right: 8px !important;
}
.mb-2, .my-2 {
    margin-bottom: 8px !important;
}
.ml-2, .mx-2 {
    margin-left: 8px !important;
}
.m-3 {
    margin: 16px !important;
}
.mt-3, .my-3 {
    margin-top: 16px !important;
}
.mr-3, .mx-3 {
    margin-right: 16px !important;
}
.mb-3, .my-3 {
    margin-bottom: 16px !important;
}
.ml-3, .mx-3 {
    margin-left: 16px !important;
}
.m-4 {
    margin: 24px !important;
}
.mt-4, .my-4 {
    margin-top: 24px !important;
}
.mr-4, .mx-4 {
    margin-right: 24px !important;
}
.mb-4, .my-4 {
    margin-bottom: 24px !important;
}
.ml-4, .mx-4 {
    margin-left: 24px !important;
}
.m-5 {
    margin: 48px !important;
}
.mt-5, .my-5 {
    margin-top: 48px !important;
}
.mr-5, .mx-5 {
    margin-right: 48px !important;
}
.mb-5, .my-5 {
    margin-bottom: 48px !important;
}
.ml-5, .mx-5 {
    margin-left: 48px !important;
}
/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mx-sm-auto {
        margin-right: auto;
        margin-left: auto;
    }
    .mr-sm-auto {
        margin-right: auto;
    }
    .ml-sm-auto {
        margin-left: auto;
    }
    .m-sm-0 {
        margin: 0 !important;
    }
    .mt-sm-0, .my-sm-0 {
        margin-top: 0 !important;
    }
    .mr-sm-0, .mx-sm-0 {
        margin-right: 0 !important;
    }
    .mb-sm-0, .my-sm-0 {
        margin-bottom: 0 !important;
    }
    .ml-sm-0, .mx-sm-0 {
        margin-left: 0 !important;
    }
    .m-sm-1 {
        margin: 4px !important;
    }
    .mt-sm-1, .my-sm-1 {
        margin-top: 4px !important;
    }
    .mr-sm-1, .mx-sm-1 {
        margin-right: 4px !important;
    }
    .mb-sm-1, .my-sm-1 {
        margin-bottom: 4px !important;
    }
    .ml-sm-1, .mx-sm-1 {
        margin-left: 4px !important;
    }
    .m-sm-2 {
        margin: 8px !important;
    }
    .mt-sm-2, .my-sm-2 {
        margin-top: 8px !important;
    }
    .mr-sm-2, .mx-sm-2 {
        margin-right: 8px !important;
    }
    .mb-sm-2, .my-sm-2 {
        margin-bottom: 8px !important;
    }
    .ml-sm-2, .mx-sm-2 {
        margin-left: 8px !important;
    }
    .m-sm-3 {
        margin: 16px !important;
    }
    .mt-sm-3, .my-sm-3 {
        margin-top: 16px !important;
    }
    .mr-sm-3, .mx-sm-3 {
        margin-right: 16px !important;
    }
    .mb-sm-3, .my-sm-3 {
        margin-bottom: 16px !important;
    }
    .ml-sm-3, .mx-sm-3 {
        margin-left: 16px !important;
    }
    .m-sm-4 {
        margin: 24px !important;
    }
    .mt-sm-4, .my-sm-4 {
        margin-top: 24px !important;
    }
    .mr-sm-4, .mx-sm-4 {
        margin-right: 24px !important;
    }
    .mb-sm-4, .my-sm-4 {
        margin-bottom: 24px !important;
    }
    .ml-sm-4, .mx-sm-4 {
        margin-left: 24px !important;
    }
    .m-sm-5 {
        margin: 48px !important;
    }
    .mt-sm-5, .my-sm-5 {
        margin-top: 48px !important;
    }
    .mr-sm-5, .mx-sm-5 {
        margin-right: 48px !important;
    }
    .mb-sm-5, .my-sm-5 {
        margin-bottom: 48px !important;
    }
    .ml-sm-5, .mx-sm-5 {
        margin-left: 48px !important;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mx-md-auto {
        margin-right: auto;
        margin-left: auto;
    }
    .mr-md-auto {
        margin-right: auto;
    }
    .ml-md-auto {
        margin-left: auto;
    }
    .m-md-0 {
        margin: 0 !important;
    }
    .mt-md-0, .my-md-0 {
        margin-top: 0 !important;
    }
    .mr-md-0, .mx-md-0 {
        margin-right: 0 !important;
    }
    .mb-md-0, .my-md-0 {
        margin-bottom: 0 !important;
    }
    .ml-md-0, .mx-md-0 {
        margin-left: 0 !important;
    }
    .m-md-1 {
        margin: 4px !important;
    }
    .mt-md-1, .my-md-1 {
        margin-top: 4px !important;
    }
    .mr-md-1, .mx-md-1 {
        margin-right: 4px !important;
    }
    .mb-md-1, .my-md-1 {
        margin-bottom: 4px !important;
    }
    .ml-md-1, .mx-md-1 {
        margin-left: 4px !important;
    }
    .m-md-2 {
        margin: 8px !important;
    }
    .mt-md-2, .my-md-2 {
        margin-top: 8px !important;
    }
    .mr-md-2, .mx-md-2 {
        margin-right: 8px !important;
    }
    .mb-md-2, .my-md-2 {
        margin-bottom: 8px !important;
    }
    .ml-md-2, .mx-md-2 {
        margin-left: 8px !important;
    }
    .m-md-3 {
        margin: 16px !important;
    }
    .mt-md-3, .my-md-3 {
        margin-top: 16px !important;
    }
    .mr-md-3, .mx-md-3 {
        margin-right: 16px !important;
    }
    .mb-md-3, .my-md-3 {
        margin-bottom: 16px !important;
    }
    .ml-md-3, .mx-md-3 {
        margin-left: 16px !important;
    }
    .m-md-4 {
        margin: 24px !important;
    }
    .mt-md-4, .my-md-4 {
        margin-top: 24px !important;
    }
    .mr-md-4, .mx-md-4 {
        margin-right: 24px !important;
    }
    .mb-md-4, .my-md-4 {
        margin-bottom: 24px !important;
    }
    .ml-md-4, .mx-md-4 {
        margin-left: 24px !important;
    }
    .m-md-5 {
        margin: 48px !important;
    }
    .mt-md-5, .my-md-5 {
        margin-top: 48px !important;
    }
    .mr-md-5, .mx-md-5 {
        margin-right: 48px !important;
    }
    .mb-md-5, .my-md-5 {
        margin-bottom: 48px !important;
    }
    .ml-md-5, .mx-md-5 {
        margin-left: 48px !important;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .mx-lg-auto {
        margin-right: auto;
        margin-left: auto;
    }
    .mr-lg-auto {
        margin-right: auto;
    }
    .ml-lg-auto {
        margin-left: auto;
    }
    .m-lg-0 {
        margin: 0 !important;
    }
    .mt-lg-0, .my-lg-0 {
        margin-top: 0 !important;
    }
    .mr-lg-0, .mx-lg-0 {
        margin-right: 0 !important;
    }
    .mb-lg-0, .my-lg-0 {
        margin-bottom: 0 !important;
    }
    .ml-lg-0, .mx-lg-0 {
        margin-left: 0 !important;
    }
    .m-lg-1 {
        margin: 4px !important;
    }
    .mt-lg-1, .my-lg-1 {
        margin-top: 4px !important;
    }
    .mr-lg-1, .mx-lg-1 {
        margin-right: 4px !important;
    }
    .mb-lg-1, .my-lg-1 {
        margin-bottom: 4px !important;
    }
    .ml-sm-1, .mx-sm-1 {
        margin-left: 4px !important;
    }
    .m-lg-2 {
        margin: 8px !important;
    }
    .mt-lg-2, .my-lg-2 {
        margin-top: 8px !important;
    }
    .mr-lg-2, .mx-lg-2 {
        margin-right: 8px !important;
    }
    .mb-lg-2, .my-lg-2 {
        margin-bottom: 8px !important;
    }
    .ml-lg-2, .mx-lg-2 {
        margin-left: 8px !important;
    }
    .m-lg-3 {
        margin: 16px !important;
    }
    .mt-lg-3, .my-lg-3 {
        margin-top: 16px !important;
    }
    .mr-lg-3, .mx-lg-3 {
        margin-right: 16px !important;
    }
    .mb-lg-3, .my-lg-3 {
        margin-bottom: 16px !important;
    }
    .ml-lg-3, .mx-lg-3 {
        margin-left: 16px !important;
    }
    .m-lg-4 {
        margin: 24px !important;
    }
    .mt-lg-4, .my-lg-4 {
        margin-top: 24px !important;
    }
    .mr-lg-4, .mx-lg-4 {
        margin-right: 24px !important;
    }
    .mb-lg-4, .my-lg-4 {
        margin-bottom: 24px !important;
    }
    .ml-lg-4, .mx-lg-4 {
        margin-left: 24px !important;
    }
    .m-lg-5 {
        margin: 48px !important;
    }
    .mt-lg-5, .my-lg-5 {
        margin-top: 48px !important;
    }
    .mr-lg-5, .mx-lg-5 {
        margin-right: 48px !important;
    }
    .mb-lg-5, .my-lg-5 {
        margin-bottom: 48px !important;
    }
    .ml-lg-5, .mx-lg-5 {
        margin-left: 48px !important;
    }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mx-xl-auto {
        margin-right: auto;
        margin-left: auto;
    }
    .mr-xl-auto {
        margin-right: auto;
    }
    .ml-xl-auto {
        margin-left: auto;
    }
    .m-xl-0 {
        margin: 0 !important;
    }
    .mt-xl-0, .my-xl-0 {
        margin-top: 0 !important;
    }
    .mr-xl-0, .mx-xl-0 {
        margin-right: 0 !important;
    }
    .mb-xl-0, .my-xl-0 {
        margin-bottom: 0 !important;
    }
    .ml-xl-0, .mx-xl-0 {
        margin-left: 0 !important;
    }
    .m-xl-1 {
        margin: 4px !important;
    }
    .mt-xl-1, .my-xl-1 {
        margin-top: 4px !important;
    }
    .mr-xl-1, .mx-xl-1 {
        margin-right: 4px !important;
    }
    .mb-xl-1, .my-xl-1 {
        margin-bottom: 4px !important;
    }
    .ml-sm-1, .mx-sm-1 {
        margin-left: 4px !important;
    }
    .m-xl-2 {
        margin: 8px !important;
    }
    .mt-xl-2, .my-xl-2 {
        margin-top: 8px !important;
    }
    .mr-xl-2, .mx-xl-2 {
        margin-right: 8px !important;
    }
    .mb-xl-2, .my-xl-2 {
        margin-bottom: 8px !important;
    }
    .ml-xl-2, .mx-xl-2 {
        margin-left: 8px !important;
    }
    .m-xl-3 {
        margin: 16px !important;
    }
    .mt-xl-3, .my-xl-3 {
        margin-top: 16px !important;
    }
    .mr-xl-3, .mx-xl-3 {
        margin-right: 16px !important;
    }
    .mb-xl-3, .my-xl-3 {
        margin-bottom: 16px !important;
    }
    .ml-xl-3, .mx-xl-3 {
        margin-left: 16px !important;
    }
    .m-xl-4 {
        margin: 24px !important;
    }
    .mt-xl-4, .my-xl-4 {
        margin-top: 24px !important;
    }
    .mr-xl-4, .mx-xl-4 {
        margin-right: 24px !important;
    }
    .mb-xl-4, .my-xl-4 {
        margin-bottom: 24px !important;
    }
    .ml-xl-4, .mx-xl-4 {
        margin-left: 24px !important;
    }
    .m-xl-5 {
        margin: 48px !important;
    }
    .mt-xl-5, .my-xl-5 {
        margin-top: 48px !important;
    }
    .mr-xl-5, .mx-xl-5 {
        margin-right: 48px !important;
    }
    .mb-xl-5, .my-xl-5 {
        margin-bottom: 48px !important;
    }
    .ml-xl-5, .mx-xl-5 {
        margin-left: 48px !important;
    }
}
/*Info: Only Margins END  */